*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.contenedor-foto{
    width: 700px;
    position: relative;
    overflow: hidden;
    margin: 40px auto;
}

.contenedor-foto:hover .hover{
    transform: translate(0);
}

.contenedor-foto:hover img{
    transform: scale(1.3);
}

.contenedor-foto img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    transition: transform 1s;
}

.hover{
    position: absolute;
    top: 0;
    text-align: center;
    background-color: rgba(20, 30, 200, 0.3);
    color: #f2f2f2;
    width: 100%;
    height: 100%;
    padding: 150px 0;
    transform: translate(100%,100%) rotate(180deg);
    transition: transform 1s;
}

.hover h1{
    margin-bottom: 40px;
}